<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h3>Friends</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" v-for="user in users" :key="user.user_id">
                              <div class="d-flex justify-content-between align-items-center">
                                <span>{{ user.name }} | {{ user.email }}</span>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" :id="'friend_' + user.id" :checked="friends.includes(user.id)" :value="user.id" v-model="friends">
                                  <label class="custom-control-label" :for="'friend_' + user.id"></label>
                                </div>
                              </div>
                            </li>
                        </ul>
                    </div>
                  <div class="card-footer text-center">
                    <button class="btn btn-primary" @click="save">Save</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from '../axios'
export default {
    name:"DashboardComponent",
    data(){
        return {
            users: [],
            friends: [],
            user:this.$store.state.auth.user,
        }
    },
    mounted() {
        axios.post("api/user/list").then((response)=>{
          this.users = response.data.users;
          this.friends = response.data.friends;
        })
    },

    methods: {
      save(){
        axios.post("api/update/list", {data: this.friends})
      }
    }
}
</script>
