<template>
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card shadow sm">
                    <div class="card-body">
                        <h1 class="text-center">Login</h1>
                        <hr/>
                        <form action="javascript:void(0)" class="row" method="post">
                            <div class="form-group col-12">
                                <label for="email" class="font-weight-bold">Email</label>
                                <input type="text" v-bind:class="{ 'is-invalid': errors.email }" v-model="auth.email" name="email" id="email" class="form-control">
                                <div class="invalid-feedback" v-if="errors.email">
                                    <p class="mb-0" v-for="error in errors.email" :key="error">{{ error }}</p>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                <label for="password" class="font-weight-bold">Password</label>
                                <input type="password" v-bind:class="{ 'is-invalid': errors.password }" v-model="auth.password" name="password" id="password" class="form-control">
                                <div class="invalid-feedback" v-if="errors.password">
                                    <p class="mb-0" v-for="error in errors.password" :key="error">{{ error }}</p>
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <button type="submit" :disabled="processing" @click="login" class="btn btn-primary btn-block">
                                    {{ processing ? "Please wait" : "Login" }}
                                </button>
                            </div>
                            <div class="col-12 text-center">
                                <label>Don't have an account? <router-link :to="{name:'register'}">Register Now!</router-link></label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from '../axios'
    import { mapActions } from 'vuex'
    export default {
        name:"LoginComponent",
        data(){
            return {
                errors: [],
                auth:{
                    email:"",
                    password:"",
                },
                processing:false
            }
        },
        methods:{
            ...mapActions({
                signIn:'auth/login'
            }),
            async login(){
                this.processing = true
                await axios.get('/sanctum/csrf-cookie')
                await axios.post('/login',this.auth, { headers: { Accept: 'application/json' } }).then((response)=>{
                    this.signIn();
                    console.log(response);
                }).catch(({response:{data}})=>{
                    this.errors = data.errors
                }).finally(()=>{
                    this.processing = false
                })
            },
        }
    }
</script>
