<template>
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card shadow sm">
                    <div class="card-body">
                        <h1 class="text-center">Register</h1>
                        <hr/>
                        <form action="javascript:void(0)" @submit="register" class="row" method="post">
                            <div class="form-group col-12">
                                <label for="name" class="font-weight-bold">Name</label>
                                <input type="text" name="name" v-bind:class="{ 'is-invalid': errors.name }" v-model="user.name" id="name" placeholder="Enter name" class="form-control">
                                <div class="invalid-feedback" v-if="errors.name">
                                    <p class="mb-0" v-for="error in errors.name" :key="error">{{ error }}</p>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                <label for="email" class="font-weight-bold">Email</label>
                                <input type="text" name="email" v-bind:class="{ 'is-invalid': errors.email }" v-model="user.email" id="email" placeholder="Enter Email" class="form-control">
                                <div class="invalid-feedback" v-if="errors.email">
                                    <p class="mb-0" v-for="error in errors.email" :key="error">{{ error }}</p>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                <label for="password" class="font-weight-bold">Password</label>
                                <input type="password" name="password" v-bind:class="{ 'is-invalid': errors.password }" v-model="user.password" id="password" placeholder="Enter Password" class="form-control">
                                <div class="invalid-feedback" v-if="errors.password">
                                    <p class="mb-0" v-for="error in errors.password" :key="error">{{ error }}</p>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                <label for="password_confirmation" class="font-weight-bold">Confirm Password</label>
                                <input type="password" name="password_confirmation" v-bind:class="{ 'is-invalid': errors.password_confirmation }" v-model="user.password_confirmation" id="password_confirmation" placeholder="Enter Password" class="form-control">
                                <div class="invalid-feedback" v-if="errors.password_confirmation">
                                    <p class="mb-0" v-for="error in errors.password_confirmation" :key="error">{{ error }}</p>
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <button type="submit" :disabled="processing" class="btn btn-primary btn-block">
                                    {{ processing ? "Please wait" : "Register" }}
                                </button>
                            </div>
                            <div class="col-12 text-center">
                                <label>Already have an account? <router-link :to="{name:'login'}">Login Now!</router-link></label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import { mapActions } from 'vuex'
    export default {
        name:'RegisterComponent',
        data(){
            return {
                errors: [],
                user:{
                    name:"",
                    email:"",
                    password:"",
                    password_confirmation:""
                },
                processing:false
            }
        },
        methods:{
            ...mapActions({
                signIn:'auth/login'
            }),
            async register(){
                this.processing = true
                await axios.post('/register',this.user, { headers: { Accept: 'application/json' } }).then(()=>{
                    this.signIn();
                }).catch(({response:{data}})=>{
                    this.errors = data.errors;
                }).finally(()=>{
                    this.processing = false
                })
            }
        }
    }
</script>
