<template>
  <NavComponent v-if="!this.$store.state.auth.user.id" />
  <router-view/>
</template>

<script>
  import NavComponent from './components/Nav.vue'
  export default ({
    name: "App",
    components: {
      NavComponent
    }
  })
</script>

