<template>

    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <div class="container">
            <router-link to="/" class="navbar-brand">Home</router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <span class="nav-link active disabled">Hello, {{ user.name }}</span>
                </li>
                <li class="nav-item">
                    <span class="nav-link" role="button" @click="logout">Logout</span>
                </li>
            </ul>
        </div>
    </nav>

    <main class="mt-3">
        <router-view></router-view>
    </main>
</template>

<script>
import axios from 'axios'
import {mapActions} from 'vuex'
export default {
    name:"DashboardLayout",
    data(){
        return {
            user:this.$store.state.auth.user
        }
    },
    methods:{
        ...mapActions({
            signOut:"auth/logout"
        }),
        async logout(){
            await axios.post('/logout').then(({data})=>{
                this.signOut()
                console.log(data);
                this.$router.push({name:"login"})
            })
        }
    }
}
</script>
